extend ../layout

block content
  .row 
    .col-md-12 
    .card
      .card-header
        h4.card-title  Edit Asset
        
      .card-body
        form(method='post', action='/assets/update/'+asset.id)
          .row
            .col-md-4.pr-md-1
              .form-group
                label Name
                input.form-control(type='text' placeholder='Company' name="name" value=asset.name)
            .col-md-4.px-md-1
              .form-group
                label Tag
                input.form-control(type='text' placeholder='Tag' name='tag' value=asset.tag )
            .col-md-4.pl-md-1
              .form-group
                label(for='') Price
                input.form-control(type='text' placeholder='Cost' name='price' value=asset.price)
          .row
            .col-md-4.pr-md-1
              .form-group
                label Insurance
                input.form-control(type='text' placeholder='insurance' name='insurance' value=asset.insurance)
            .col-md-4.pl-md-1
              .form-group
                label Valuation
                input.form-control(type='text' placeholder='value' name='valuation' value=asset.valuation)
            .col-md-4.pr-md-1
              .form-group
                label Pic
                input.form-control(type='file' name='pic')
          .row 
            .col-md-6
              .form-group
                label TPS
                select.form-control(name='tps')
                  if(asset.tpsId)
                    option(value=asset.tp.id)
                      =asset.tp.name
                  else 
                    option(value)
                    | --select tps-- 
                  each d in tps
                    option(value=d.id)
                      =d.name
            .col-md-6
              .form-group
                label Type
                select.form-control(name='type')
                  if(asset.typeId)
                    option(value=asset.type.id)
                      =asset.type.name
                  else 
                    option(value)
                    | --select tps--  
                  each d in types 
                    option(value=d.id)
                      =d.name
          .row 
            .col-md-12 
              button.form-control.btn.btn-fill.btn-primary(type='submit')
                | Update
